* {
  font-size: 20px;
}
h3 {
  font-size: 2rem;
}
body {
  background: #333;
  color: #ffffff;
}
div .card.card-body {
  background-color: #666;
  border: grey 4px dashed;
}
.list-group-item {
  color: #333;
}
button#submit-autho {
  background-color: rgba(0, 123, 255, 0.3);
}
button.editbutton {
  background-color: green;
}
